<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %>|<%= @restaurant.phone_number %></h2>
<p> <%= @restaurant.category %></p>

<%= link_to 'Menu', restaurants_path %>
<%= link_to "Delete #{@restaurant.name}",
            restaurant_path(@restaurant),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<%= link_to 'Create review', new_restaurant_review_path(@restaurant)  %>
